/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
button {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  width: 5.5em;
}

h1 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: #171319;
}

.entryTitle .entryText {
  font-family: "Patua One", serif;
  letter-spacing: 3px;
  font-size: 30px;
  padding: 1 1 1 1em;
}

.entry .title {
  font-family: "Patua One", serif;
  letter-spacing: 3px;
  font-size: 30px;
  margin: 0 0 0.5em;
  min-height: 30em;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.sectionContent {
  padding: 1.4em;
}

.containerCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}